@import url(https://fonts.googleapis.com/css?family=Merriweather);.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body {
  background-color: #878cdf;
  font-family: "Merriweather", sans-serif; }
